page-home {
  @import url('https://fonts.googleapis.com/css?family=Graduate|UnifrakturCook:700');
   $normal-img:"../assets/img/bg/home.jpg";
$blurred-img:"../assets/img/textbg/baby.jpg";
$child-acts-img:'../assets/img/textbg/info.png';
$case-studies-img:'../assets/img/textbg/book.png';
$stakeholder-img:'../assets/img/textbg/baby.jpg';
ion-content.HomePageBackground{

  // pehla bg

  //   background-image:url('https://pbs.twimg.com/profile_images/783569426092138496/QLXcYWdR_reasonably_small.jpg'),url($blurred-img);
	// background-repeat:no-repeat, no-repeat;
	// background-size: 30px 30px,cover;
	// background-attachment: fixed, fixed;
  //   background-position: right bottom, center;
  //   &.tinted{
	// background-image:linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url($blurred-img);
  
	// // -webkit-backdrop-filter: sepia() hue-rotate(120deg);
  // // backdrop-filter: blur(0px);
  //   }
	// &.shaded{
  //   background-image:linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)),url($blurred-img);
  
  //   // backdrop-filter: blur(3px) grayscale(50%);
	// }

// dusra bg


background: linear-gradient(58deg, #df6c0f, #e40841, #3e08e4, #08d8e4, #b8e408, #08c5e4, #080de4, #e40840);
background-size: 1600% 1600%;

-webkit-animation: AnimationName 34s ease infinite;
-moz-animation: AnimationName 34s ease infinite;
animation: AnimationName 34s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}
@keyframes AnimationName { 
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}

// teesra bg
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c92830+0,6d0bed+43&1+17,0+100 */
// background: -moz-linear-gradient(-45deg, rgba(201,40,48,1) 0%, rgba(165,29,123,1) 17%, rgba(109,11,237,0.69) 43%, rgba(109,11,237,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg, rgba(201,40,48,1) 0%,rgba(165,29,123,1) 17%,rgba(109,11,237,0.69) 43%,rgba(109,11,237,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg, rgba(201,40,48,1) 0%,rgba(165,29,123,1) 17%,rgba(109,11,237,0.69) 43%,rgba(109,11,237,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92830', endColorstr='#006d0bed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


// 4th bg
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+18,6e7774+29,6e7774+40,0a0e0a+55,595959+79,0a0809+100 */
// background: rgb(206,219,233); /* Old browsers */
// background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}



// h1.headingText{
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
//   cursor: pointer;
//   border: none;
//   font: normal 60px/normal 'Graduate',"UnifrakturCook", Helvetica, sans-serif;
//   // font-family: 'UnifrakturCook', cursive;
//   // font-family: 'Graduate', cursive;
//   color: rgba(255,255,255,1);
//   text-align: center;
//   -o-text-overflow: clip;
//   text-overflow: clip;
//   text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
//   -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
//   -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
//   -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
//   transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
// }
// h1.headingText:hover{
//     color: rgba(169,214,169,1);
//   text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
//   -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
//   -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
//   -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
//   transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
// }



div.mainContent{
  position: relative;
  top:20px;
}
div.mainContent ion-grid{
  position: relative;
  top:5vh;
}
ion-card.scaleup.card{
  background: transparent;
}



.blurred-bg{

	background-image:url($blurred-img);
	background-repeat:no-repeat;
	background-size: cover;
	// background-attachment: fixed;
    background-position: center;
  
	&.tinted{
	background-image:linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url($blurred-img);
  
	// -webkit-backdrop-filter: sepia() hue-rotate(120deg);
  // backdrop-filter: blur(0px);
    }
	&.shaded{
    background-image:linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)),url($blurred-img);
  
    // backdrop-filter: blur(3px) grayscale(50%);
	}
}
.child_acts-blurred-bg-theme2{
 
	background-image:url($blurred-img);
	background-repeat:no-repeat;
	background-size: cover;
	// background-attachment: fixed;
    background-position: center;
  
	&.tinted{
	// background-image:linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url('../assets/img/textbg/info.png');
  
	// -webkit-backdrop-filter: sepia() hue-rotate(120deg);
  // backdrop-filter: blur(0px);
    }
	&.shaded{
    // background-image:linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)),none;
  
    // backdrop-filter: blur(3px) grayscale(50%);
	} 
}

//for child acts bg
.child-acts-blurred-bg{

	background-image: url($child-acts-img);
	background-repeat:no-repeat;
	background-size: contain;
	// background-attachment: fixed;
    background-position: center;
  
	&.tinted{
	background-image:url($child-acts-img),linear-gradient(0deg, rgba(255,255,255,.4),rgba(255,255,255,.4));
  
//   background: linear-gradient(58deg, rgba(223,108,15,0.4), rgba(228,8,65,0.4), rgba(62,8,228,0.4), rgba(8,216,228,0.4));
// background-size: 1600% 1600%;

// -webkit-animation: AnimationName 10s ease infinite;
// -moz-animation: AnimationName 10s ease infinite;
// animation: AnimationName 10s ease infinite;

// @-webkit-keyframes AnimationName {
//     0%{background-position:54% 0%}
//     50%{background-position:47% 100%}
//     100%{background-position:54% 0%}
// }
// @-moz-keyframes AnimationName {
//     0%{background-position:54% 0%}
//     50%{background-position:47% 100%}
//     100%{background-position:54% 0%}
// }
// @keyframes AnimationName { 
//     0%{background-position:54% 0%}
//     50%{background-position:47% 100%}
//     100%{background-position:54% 0%}
// }
    }
	&.shaded{
    background-image:url($child-acts-img),linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2));
	}
}



//for case studies bg
.case-studies-blurred-bg{

	background-image: url($case-studies-img);
	background-repeat:no-repeat;
	background-size: contain;
	// background-attachment: fixed;
    background-position: center;
  
	&.tinted{
	background-image:url($case-studies-img),linear-gradient(0deg, rgba(255,255,255,.4),rgba(255,255,255,.4));
 
    }
	&.shaded{
    background-image:url($case-studies-img),linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2));
	}
}


//for Stakeholders studies bg
.stakeholder-blurred-bg{

	background-image: url($stakeholder-img);
	background-repeat:no-repeat;
	background-size: contain;
	// background-attachment: fixed;
    background-position: center;
  
	&.tinted{
	background-image:url($stakeholder-img),linear-gradient(0deg, rgba(255,255,255,.4),rgba(255,255,255,.4));
 
    }
	&.shaded{
    background-image:url($stakeholder-img),linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2));
	}
}

ion-card.scaleup{
    border-radius:20px;
    box-shadow: 0px 1px 2px 1px gray;
    -webkit-transform:  scaleX(0.9) scaleY(0.9)  ;
  transform:  scaleX(0.9) scaleY(0.9)  ;
}



.box{
	// width:500px;
	// height:300px;
    min-width: 20vh;
    min-height: 20vh;
//   left:-webkit-calc( 50% - 250px );
//   top:20%;
// 	position:absolute;
	border-radius:20px;
	 box-shadow:0 2px 10px rgba(0,0,0,.6);
	border:1px solid rgba(255,255,255,.3);
	padding:20px;
	text-align: center;
	 box-sizing:border-box;
	text-shadow:0 1px 1px rgba(0,0,0,.4);
  display: flex;
  transition: box-shadow .3s ease;
  cursor: pointer;
	&:active{
    cursor:move;
     box-shadow:0 20px 50px rgba(0,0,0,.9);
  }
  
  .content{
    margin: auto;
    // background: url('../assets/img/textbg/acts.png');
  }

}

ion-card.scaleup:hover,ion-card.scaleup:active{
     -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius:20px;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transform:  scaleX(1) scaleY(1)  ;
  transform:  scaleX(1) scaleY(1)  ;
   box-shadow: 2px 2px 10px gray;
}
h1,h2,a{
	color:white;
	font-weight:100;
  
	.tinted &{
		color:black;
		text-shadow:0 1px 1px rgba(255,255,255,.2);
	}
}
h1.glow{
  font-size:2em;
  // color: #2e2f30;
  color: white;
  font-family: 'Open Sans','Droid Sans',sans-serif;
  text-shadow: 1px 1px 2px black;
  font-weight:bold ;
  letter-spacing: 4px;
}
h2{ font-size: 14px }
p{ 
  margin: 20px;
  text-align: center;
  &.related{
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    
    a{
      font-weight: 700;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}



}
